:host {
  display: flex;
  flex-direction: row;
  padding: 24px;
  border-bottom: solid rgba(black, 0.12) 1px;
}

.left,
.right {
  display: flex;
  flex: 1;
  flex-basis: 0.000000001px;
}

.right {
  justify-content: flex-end;
}

[disabled] {
  pointer-events: none;
}