/* Add application styles & imports to this file! */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Google+Material+Icons');

@import './styles/reset.css';

html,
body {
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overscroll-behavior: contain;
}

h1,
p,
button {
  -webkit-font-smoothing: antialiased;
  font-family: 'roboto';
  letter-spacing: normal;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

button {
  cursor: pointer;
}

.my-highlight {
  transition: background-color linear 0.166s;

  &:hover {
    cursor: text;
    background-color: rgba(#3367d6, 0.1);
  }
}